* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: black;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f8f8f8;
    line-height: 1.6;
    color: #333;
}
.container {
    width: 80%;
    margin: 0 auto;
    max-width: 1440px; 
}


header {
    background: #ffffff;
    padding: 10px 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: relative;
}

.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}

.logo-area {
    display: flex;
    align-items: center;
}

.logo-area img {
    height: 40px;
    margin-right: 10px;
}

.logo-text {
     font-size: 26px;
    font-weight: bold;
    margin: 0;
}

.contact-info,
.contact-details {
    text-align: left;
}

.contact-details p:first-child {
    font-weight: bold;
    font-size: 20px;
}

.order-button {
    background-color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    margin-top: 10px;    
}

.order-button:hover {
    background-color: #9370DB;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    width: 80%;
    transition: background-color 0.3s;;
}

header nav {
    text-align: left;
    padding: 10px 0;
}

header nav a {
    margin: 0 10px;
    font-weight: 500;
    color: #555;
    transition: color 0.3s;
}

header nav a:hover {
    color: #9370DB;
}

.hero {
    background: #f0f0f0;
    padding: 40px 0;;
}

.hero .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.hero-content {
    width: 50%;
}

.hero-content h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
    line-height: 1.2;
}

.hero-content p {
    font-size: 1.1em;
    color: #666;
    margin-bottom: 30px;
}

.hero-content img {
    max-width: 100%;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.hero-calculator {
    width: 45%;
}

.calculator {
 background: #fff;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.calculator h3 {
    margin-bottom: 15px;
    color: #333;
}

.calculator p {
    color: #777;
    margin-bottom: 20px;
}

.calculator input {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 6px;
    font-size: 1em;
    color: #555;
    box-sizing: border-box;
}

.input-row {
    display: flex;
    justify-content: space-between;
}

.input-row input {
    width: 48%;
}

.calculator button {
    background-color: #9370DB;
    color: white;
    padding: 14px 20px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    width: 100%;
    font-size: 1.1em;
    transition: background-color 0.3s;
}

.calculator button:hover {
    background-color: #7a52ad;
}


.features {
    padding: 50px 0;
    background-color: #fff;
}

.features .container {
    max-width: 1200px;
}

.features h2 {
    text-align: center;
    font-size: 2.2em;
    color: #333;
    margin-bottom: 40px;
}

.features-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.feature {
    width: 30%;
    margin-bottom: 40px;
    text-align: center;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
    transition: transform 0.3s;
}

.feature:hover {
    transform: translateY(-5px);
}

.feature img {
    max-width: 70px;
    margin-bottom: 20px;
}

.feature h3 {
    color: #333;
    font-size: 1.4em;
    margin-bottom: 10px;
}

.feature p {
    color: #666;
    font-size: 1em;
    line-height: 1.5;
}


.guarantees {
    padding: 50px 0;
    background-color: #f8f8f8;
    text-align: center;
}

.guarantees h2 {
    font-size: 2.2em;
    color: #333;
    margin-bottom: 20px;
}

.guarantees p {
    color: #666;
    font-size: 1.1em;
    line-height: 1.6;
    margin-bottom: 30px;
}

.guarantee-images {
    display: flex;
    justify-content: space-around;
    
}

.guarantee-images img {
    max-width: 22%;
    margin: 10px;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
}

.show-more-docs {
    background-color: #fff;
    color:     #9370DB ;
    padding: 12px 20px;
    border: 1px solid     #9370DB ;
    border-radius: 6px;
    cursor: pointer;
    margin-top: 30px;
    font-size: 1.1em;
    transition: background-color 0.3s, color 0.3s;
}

.show-more-docs:hover {
    background-color: #9370DB;
    color: #fff;
}


.testimonials {
    padding: 50px 0;
    background-color: #fff;
}

.testimonials h2 {
    text-align: center;
    font-size: 2.2em;
    color: #333;
    margin-bottom: 40px;
}

.testimonials-slider {
    display: flex;
    overflow: hidden;
   margin-left: 68px;
}

.testimonial {
 width: 626px;
    min-width: 45%;
    background: #f9f9f9;
    padding: 30px;
    margin: 0 10px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
   position: relative;
   height: 275px;

}
.testimonial6 {
 width: 626px;
    min-width: 45%;
    background: #f9f9f9;
    padding: 30px;
    margin: 0 10px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
   position: relative;
   height: 275px;
}
.testimonial-content {
    position: relative;
}

.testimonial p {
    color: #555;
    font-size: 1.1em;
    line-height: 1.6;
    margin-bottom: 15px;
}

.testimonial .author1 {

    color: #6B7280;
    position: absolute;
    bottom: -80px;
}
.testimonial .author2 {
 
    color: #6B7280;
    position: absolute;
    bottom: -55px
}

.testimonial .quote-icon1 {
    position: absolute;
    top: 100px;
    left: 375px;
    font-size: 7em;
    color: #ddd;
    font-family: serif;
}
.testimonial .quote-icon2 {
    position: absolute;
    top: 110px;
    left: 375px;
    font-size: 7em;
    color: #ddd;
    font-family: serif;
}

.slider-controls {
    text-align: center;
    margin-top: 20px;
}

.slider-controls button {
 position: absolute;
    background: none;
    border: none;
    font-size: 2em;
    color:     #9370DB ;
    cursor: pointer;
   left: 2px;
}
.next-testimonial {
    right: 2px;
    position: absolute;
    right: -1290px;
}
.prev-testimonial {
    padding: 0 10px;
}

.contact-form {
    background: #ffffff;
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    margin: 50px auto;
    width: 70%;
    max-width: 900px;
}

.contact-form h2 {
    text-align: center;
    font-size: 2.2em;
    color: #333;
    margin-bottom: 30px;
}

.form-row {
    display: flex;
    justify-content:space-between;
    margin-bottom: 15px;
    padding: 0 auto;
}

.form-row input {
    width: 48%; 
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 6px;
    font-size: 1em;
    color: #555;
    box-sizing: border-box;
}

.contact-form textarea {
    height: 150px; 
}

.contact-form button {
    background-color: #9370DB;
    color: white;
    padding: 14px 20px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    width: 100%;
    font-size: 1.1em;
    transition: background-color 0.3s;
}

img {
    max-width: 100%;
    height: auto;
}

.contact-form button:hover {
    background-color: #7a52ad; 
}


footer {
    background: #333;
    color: white;
    padding: 30px 0;
}

.footer-content {
    display: flex;
    align-items: top;
    justify-content: space-between;
}

.footer-copyright {
    width: 30%;
}

.footer-logo {
    height: 40px;
    margin-bottom: 10px;
}

.small-text {
    font-size: 0.8em;
    color: #aaa;
}

.footer-links {
    width: 30%;
    text-align: center;
}

.footer-links a {
    display: block;
    color: white;
    margin-bottom: 10px;
    transition: color 0.3s;
}

.footer-links a:hover {
    color: #9370DB;
}

.footer-contact {
    width: 30%;
    text-align: right;
}

.footer-contact p {
    margin-bottom: 5px;
}

@media (max-width: 1920px) {
    body {
        
    }
    .container {
        width: 90%;
    }

    .hero .container {
        flex-direction: column;
    }

    .hero-content,
    .hero-calculator {
        width: 100%;
    }

    .calculator input {
        margin-bottom: 10px;
    }

    .features-grid {
        justify-content: center;
    }

    .feature {
        width: 45%;
        margin-bottom: 30px;
    }

    .guarantee-images img {
        max-width: 45%;
    }

    .testimonial {
        width: 90%;
    }

    .testimonials-slider {
        overflow-x: auto;
        margin-left: 0;
    }

    .form-row {
        flex-direction: column;
    }

    .form-row input {
        width: 80%;
        margin-bottom: 10px;
    }

    .footer-content {
        flex-direction: column;
        text-align: center;
    }

    .footer-copyright,
    .footer-links,
    .footer-contact {
        width: 100%;
        margin-bottom: 20px;
    }

    .footer-contact {
        text-align: center;
    }

    }
    .next-testimonial {
        position: absolute;
        left: -100px;        
    }
    .guarantee-images {
        align-items: center;
          width: 50%;
    }
    .guarantee-images img {
        width: 80%;
        margin-bottom: 20px;
}


@media (max-width: 1024px) {
    body {
        overflow-x: hidden;
    }
     header .header-top {
        flex-direction: row;
        justify-content: space-between;
        text-align: left;
    }
    header nav {
        flex-direction: row;
        gap: 20px;
    }
    .container {
        width: 80%;
    }

    .hero .container {
        flex-direction: row;
        justify-content: space-between;
    }

    .hero-content,
    .hero-calculator {
        width: 100%;
    }
    .calculator {
    width: 100%;
    padding: 15px;
}
    .calculator input {
        margin-bottom: 10px;
        padding: 10px;
    }

    .feature {
        width: 45%;
        margin-bottom: 30px;
    }

    .guarantee-images img {
        max-width: 45%;
    }

    .testimonial {
        width: 90%;
    }

    .testimonials-slider {
        overflow-x: auto;
        margin-left: 0;
    }

    .form-row {
        flex-direction: column;
    }

    .form-row input {
        width: 80%;
        margin-bottom: 10px;
    }

    .footer-content {
        flex-direction: column;
        text-align: center;
    }

    .footer-copyright,
    .footer-links,
    .footer-contact {
        width: 100%;
        margin-bottom: 20px;
    }

    .footer-contact {
        text-align: center;
    }
}

@media (max-width: 1024px) {
    body {
        position: absolute;
        overflow-x: hidden;
    }
    .container {
        width: 80%;
    }

    .hero .container {
            flex-direction: column;
        }
    
        .hero-content,
        .hero-calculator {
            width: 100%;
        }
    
        .calculator input {
            margin-bottom: 10px;
        }

    .features-grid {
        justify-content: center;
    }

    .feature {
        width: 45%;
        margin-bottom: 30px;
    }

    .guarantee-images img {
        max-width: 45%;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        column-count: 2;

    }

    .testimonial {
        height: 305px;
        width: 90%;
        overflow-x: hidden;
        overflow-y: hidden;
    }

    .testimonials-slider {
        overflow-x: auto;
        margin-left: 0;
    }

    .form-row {
        flex-direction: column;
        
    }

    .form-row input {
        width: 80%;
        margin-bottom: 10px;
        
    }

    .footer-content {
        flex-direction: column;
        text-align: center;
    }

    .footer-copyright,
    .footer-links,
    .footer-contact {
        width: 100%;
        margin-bottom: 20px;
    }

    .footer-contact {
        text-align: center;
    }
    .contact-info {
        display: none; /* доделать */
        position: relative;
        bottom: -200px;
    }
    nav {
        border-bottom: #A78BFA 2px solid;
        border-top: #A78BFA 2px solid;
    }
    .order-button {
        display: flex;
        position: relative;
        bottom: -52px;
        border-radius: 100px;
    }
    .Burger {
        display: none;
    }
}
@media (min-width: 480px) and (max-width: 768px) {
    body {
        overflow-x: hidden;
    }
    .container {
        width: 80%;
    }
    .header-top {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .contact-info,
    .logo-area {
        margin-bottom: 10px;
        text-align: center;
    }
    header nav {
        text-align: center;
    }
    header nav a {
        margin: 5px;
    }
    
    .hero .container {
        flex-direction: column;
        text-align: center;
    }
    .hero-content,
    .hero-calculator {
        width: 90%;
    }
    .input-row {
        flex-direction: column;
    }
    .input-row input {
        width: 100%;
    }
    .features h2 {
        font-size: 2em;
    }
    .features-grid {
        flex-direction: column;
        align-items: center;
    }
    .feature {
        width: 80%;
        margin-bottom: 20px;
    }
    .guarantee-images {
        flex-direction: column;
        align-items: center;
    }
    .guarantee-images img {
        width: 80%;
        margin-bottom: 20px;
    }
    .testimonials h2 {
        font-size: 2em;
    }
    .testimonials-slider {
        flex-direction: column;
align-items: center;
  margin-left: 0px;
        width: 100%;
    }
    .testimonial {
        width: 90%;
        margin: 20px 0;
        overflow-y: hidden;
        overflow-x: hidden;  
    }
    .form-row {
        flex-direction: column;
    }
    .form-row input {
        width: 100%;
    }    
    .footer-content {
        flex-direction: column;
        text-align: center;
    }    
    .footer-copyright,
    .footer-links,
    .footer-contact {
        width: 100%;
        margin-bottom: 20px;
    }
    .footer-contact {
        text-align: center;
    }
    .testimonial2 {
        display: none;
        overflow-y: hidden;
        overflow-x: hidden;  
    }
    .author1 {
        position: absolute;
        left:  0;
        overflow-y: hidden;
        overflow-x: hidden;  
    }
    .quote-icon1 {
        position: relative;
        top: 0;  
    }
    .order-button {
        display: none;
    }
    nav {
        display: none;

    }
    .next-testimonial {
        position: absolute;
    right: -475px;
    }
}